.image-banner {
  display: flex;
  height: 300px;
}

.banner-image {
  width: 33%;
  height: 100%;
}

.my-bookings h1, p {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bookings-table {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}


