.image-banner {
  display: flex;
  height: 300px;
  margin-top: 80px;
}

.banner-image-left {
  width: 30%;
  height: 100%;

}

.banner-image-right {
  width: 30%;
  height: 100%;

}

.banner-image-main {
  width: 40%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.my-bookings {
}

.my-bookings h1 {
  text-align: center;
  color: #065143;
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-bookings p {
  text-align: center;
  color: #065143;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bookings-table {
  background-color: white;
  color: #065143;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
}

.bookings-table th {
  background-color: white;
  color: #065143;
  text-align: center;
  border-radius: 6px;
}

.bookings-table td {
  background-color: white;
  color: #065143;
  text-align: center;
  border-radius: 6px;
}
