.pending-page {
  color: #065143;
  text-align: center;
  margin-top: 300px;
}

.pending-page h1 {
  margin-bottom: 50px;
}
.pending-page h6 {
  color: #065143;
  text-align: center;
  margin-bottom: 50px;
}
