<h1>Confirmation of your bookings</h1>

<p>We've notified other owners with bigger shares of ownerships. If none of them book it in the upcoming 48 hours, your booking will be successful.</p>
<p>You can also view the status on <%= link_to "My Bookings", home_bookings %>.</p>

<%= link_to "Go to Overview Page", homes_path , class: "btn btn-gradient"%>
