<div class="pending-page">
  <h1><strong>Your booking is now pending.</strong></h1>
  <h6>We've notified the owners with bigger shares of ownerships. If none of them book it in the upcoming <strong>48 hours</strong>, your booking will be successful.</h6>
  <%= link_to "View all of your bookings", home_bookings_path(@home) , class: "btn btn-info"%>
</div>
