<div class="pending-page">
  <h1><strong>Your booking is pending an approval.</strong></h1>
  <h6>The owners of your vacation home have agreed that all bookings should be approved by one of the owners. Unless you hear from that owner withing the next <strong>48 hours</strong>, your booking has gone through.</h6>
  <%= link_to "View all of your bookings", home_bookings_path(@home) , class: "btn btn-info"%>
</div>
