<style>
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color: white;
  background: black;
}
</style>
<footer>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
        <p> All rights reserved @ 2020 </p>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
        <p> jea@jea.com || +44 1234 12345 </p>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
        <p> ABOUT US </p>
      </div>
     
      </div>
    </div>
</footer>