.banner1 {
    width: 100%;
    max-width: 100%;
    height: 400px;
}
.namer {
    margin-left: 400px;
}
.butons {
    margin-left: 100px;
}

.butonis {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
