.contact-avatar {
  width: 2665px;
  height: 530px;
  background-size: cover;
  background-position: center;
}

.contact-avatar-1 {
  width: 500px;
  height: 530px;
  background-size: cover;
  background-position: center;
}