.simpl-form-booking {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.txt-form {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.note-cards {
  width: 400px;
  height: 50px;
  background-color: white;
  border-radius: 2px;
  margin: 0 auto;
}

.note-cards p {
  padding-top: 8px;
}
