.simpl-form-booking {
    width: 400px;
    margin-left: 80px;
    margin-right: auto;
    color: #065143;
    text-align: center;
    font-weight: bold;
    border-radius: 8px !important;
}

.txt-form {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    color: #065143;
    text-align: center;
    margin-bottom: 20px;
}

.post-form {
  margin: 0 auto;
  width: 564px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 122px;
  padding: 0 13px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.avatar-note {
  margin-right: 21px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  height: 60px;
  width: 60px;
  &.postt{
    margin: 0 7px 0 21px;
  }
}

.grow-one {
  flex-grow: 1 !important;
}

#new_note {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.title {
  display: flex;
  justify-content: space-between;
}

.date {
  margin-right: 28px;
}
.notess{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: baseline;
  justify-content: flex-end;
  padding-top: 7px;
  margin-right: 24px;
}

.leave-note {
  width: 150px;
  margin: 10% auto 0px auto;
}

.note-post {
  display: flex;
  align-items: center;
  width: 564px;
  padding: 8px 8px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.note-details {
  width: 100%;
}

.note-post p {
  font-weight: lighter;
  padding-left: 8px;
}

.note-hr {
  width: 90%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.note-btn {
  height: 62px;
  border-radius: 0 4px 4px 0 !important;
}

.note-button {
  padding: 2px 16px;
}

.calendar {
  color: #065143;
  margin-left: -64px;
  background-color: white;
  border-radius: 4px;
  padding-top: 16px;
}

.home-show-cards {
  position: relative;
  background-color: white;
  height: 520px;
  width: 360px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 18px 0 0 63px;
}

.home-show-cards-image img {
  height: 216px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.home-show-cards-body h4 {
  font-weight: bold;
  margin-left: 32px;
  margin-top: 16px;
  text-align: left;
  color: #065143;
}

.home-show-cards-body p {
  margin: 0 0 0 16px;
  text-align: left;
  opacity: 0.5;
  font-size: 80%;
}

.home-show-cards-hr {
  width: 80%;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.home-show-cards-button {
  margin-top: 20px;
  border: solid #065143 1px;
  border-radius: 4px;
}
